.wrapper {
  width: 100%;
}

.nav-bar {
  &-wrapper {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #E3E3E3;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
  }
}

.container {
  width: 80%;
  height: 90vh;
  margin: 0px auto;
}