.user-name {
  margin-top: 16px;
  font-size: 32px;
}

.no-issues-text {
  margin-top: 10px;
}

.label-tags-sort-group {
  display: flex;
  justify-content: space-between;
}

.labels {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.label-on-focus {
  color: blue
}